

<div class="flex flex-col justify-center w-full">
  <% if params[:notice]%>
    <div class="alert justify-center alert-error ">
      <div class="flex-1">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="w-6 h-6 mx-2 stroke-current">    
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18.364 18.364A9 9 0 005.636 5.636m12.728 12.728A9 9 0 015.636 5.636m12.728 12.728L5.636 5.636"></path>                      
        </svg> 
        <label><%= params[:notice] %></label>
      </div>
    </div>
  <%end%>
  <h1 class="font-bold text-4xl text-center">Inicio de sesión</h1>
  
  <div class="ml-5 flex justify-center w-full">
    <%= form_tag '/login' do %>
    <%= label_tag :Usuario%>
    <%= text_field_tag :username %>
    <%= label_tag :Contraseña%>
    <%= password_field_tag :password%>
    <%= submit_tag "Ingresar", class: "btn hover:bg-green-500 rounded" %>
    
    
  <%end%>
  <%= button_to "Registrarse", new_user_path, method: :get, class: "btn ml-2 hover:bg-green-500 rounded" %>
  </div>
</div>
