<%= form_with(model: price_list, class: "contents") do |form| %>
  <% if price_list.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(price_list.errors.count, "error") %> prohibió a esta lista de precios de ser guardada:</h2>

      <ul>
        <% price_list.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", required: true %>
  </div>

  <div class="my-5">
    <%= form.label :porcentaje %>
    <%= form.number_field :percentage, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", required: true %>
  </div>

  <div class="inline">
    <% if action_name == "new" %>
      <button class="btn btn-primary"><%=form.submit style: "display:none"%>Crear Lista</button>
    <% else %>
      <button class="btn btn-primary"><%=form.submit style: "display:none"%>Actualizar Lista</button>
    <%end%>
  </div>
<% end %>
