<div id="<%= dom_id price_list %>">

  <% if action_name != "show" %>
    <tr class = "render-rows">
      <td><%= price_list.name %></td>
      <td><%= price_list.date %></td>
      <td>%<%= price_list.percentage %></td>

      <td><%= link_to "Ver", price_list, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %></td>
      <td><%= link_to 'Editar', edit_price_list_path(price_list), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %></td>
    </tr>

  <% else %>

    <p class="my-5">
      <strong class="block font-medium mb-1">Nombre:</strong>
      <%= price_list.name %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">Fecha:</strong>
      <%= price_list.date %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">Porcentaje:</strong>
      %<%= price_list.percentage %>
    </p>
    
  <%end%>
</div>
