<div id="<%= dom_id bill %>">
  <% if action_name != "show" %>

    <tr class = "render-rows">
      <td>$<%= bill.total %></td>

      <td><%= link_to "Ver", bill, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %></td>
      <td><%= link_to 'Editar', edit_bill_path(bill), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %></td>
    </tr>

  <% else %>

    <p class="my-5">
      <strong class="block font-medium mb-1">Total:</strong>
      $<%= bill.total %>
    </p>
  
  <%end%>
</div>
