<% sale = Sale.find_by(id: params[:sale]) %>
<%= form_with(model: bill, class: "contents") do |form| %>
  <% if bill.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(bill.errors.count, "error") %> prohibió que esta factura sea guardada:</h2>

      <ul>
        <% bill.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5 flex flex-col">
    <%= form.label :total %>
    <%= form.number_field :total, value:sale.totalPrice, style: "display: none" %>
    <span class="h-10 borderLeft shadow rounded-md border bg-white -border-l border-gray-200 border-r-gray-500 px-3 py-2 mt-2 w-full">$<%= sale.totalPrice %></span>
  </div>

  <div class="my-5 flex flex-col">
    <label>Venta realizada a:</label>
    <%= form.select(:sale_id, Sale.all.collect{|s| [s.id, s.id]}, {selected: sale.id}, style: "display: none") %>
    <span class="h-10 borderLeft shadow rounded-md border bg-white -border-l border-gray-200 border-r-gray-500 px-3 py-2 mt-2 w-full"><%= sale.client.name %> <%= sale.client.surname %>, <%= sale.date.strftime("%D - %H:%m hs.") %></span>
  </div>

  <div class="my-5 border-t border-black pt-4">
    <h1 class="font-bold text-2xl mb-3">Productos de la venta</h1>
    <table>
      <thead>
        <tr>
          <th>Descripción</th>
          <th>Precio</th>
          <th>Cantidad</th>
          <th>Fecha de registro</th>
        </tr>
      </thead>

      <tbody>
        <% for detail in sale.sale_details %>
          <% product = Product.where(:id => detail.product_id).first %>
          <tr class="render-rows">
            <td><%= product.name %></td>
            <td>$<%= product.price %></td>
            <td><%= detail.unit %></td>
            <td><%= product.registration_date.strftime("%d/%m/%Y %H:%M") %></td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>

  <div class="inline">
    <button class="btn btn-primary"><%=form.submit style: "display:none"%>Generar</button>
  </div>
<% end %>
