<div id="<%= dom_id category %>">

  <% if action_name != "show" %>

    <tr class = "render-rows">
        <td><%= category.name %></td>

        <td><%= link_to "Ver", category, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %></td>
        <td><%= link_to 'Editar', edit_category_path(category), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %></td>
    </tr>

  <% else %>

    <p class="my-5">
      <strong class="block font-medium mb-1">Nombre:</strong>
      <%= category.name %>
    </p>

  <% end %>
</div>
