<div class="mx-auto md:w-2/3 w-full flex ">
  <div class="mx-auto contenedor2-div">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @category %>

    <%= link_to 'Editar', edit_category_path(@category), class: "btn rounded-lg py-4 px-5 bg-gray-100 inline-block font-medium text-black hover:text-white" %>
    <div class="inline-block mx-4">
      <label for="modal-2" class="btn modal-button hover:bg-red-500 hover:text-black">x ELIMINAR x</label>
    </div>
    <%= link_to '❮ Volver', categories_path, class: "btn rounded-lg py-4 px-5 bg-gray-100 inline-block font-medium text-black hover:text-white" %>
  </div>
</div>

<input class="modal-toggle" type="checkbox" id="modal-2"></input>
  <div id="modal-2" class="modal">
    <div class="modal-box">
      <p class="text-xl">Estas a punto de eliminar el registro de la categoría: <strong><%= @category.name %><strong> </p> 
      <div class="modal-action">
        <label for="modal-2" class="btn">Cancelar</label>
        <%= button_to 'Borrar', category_path(@category), method: :delete, class: "btn bg-red-500" %>
      </div>
    </div>
  </div>
