<div id="<%= dom_id product %>">
  <% if action_name != "show" %>
    <% stock = ((product.stock.to_f / product.max_stock.to_f) * 100).to_i %>
    <% @style = ("width: #{stock}") %>
    <tr class = "render-rows">
      <td><%= product.name %></td>
      <td>$<%= product.price %></td>
      <td><%= product.stock %></td>
      <td><%= product.registration_date.strftime("%d/%m/%Y %H:%M") %></td>


      <td>
        <div class="flex mb-1 justify-center">
          <% case stock %>
          <% when 100%>
            <progress class="progress progress-success w-56" value="100" max="100"></progress>
          <% when 75..100 %>
            <progress class="progress progress-success w-56" value="90" max="100"></progress>
          <% when 50..75 %>
            <progress class="progress progress-success w-56" value="60" max="100"></progress>
          <% when 25..50 %>
            <progress class="progress progress-warning w-56" value="40" max="100"></progress>
          <% when 5..25%>
            <progress class="progress progress-error w-56" value="10" max="100"></progress>
          <% when 0%>
            <progress class="progress w-56" value="0" max="100"></progress>
          <%end%>
        </div>
      <td>


      <td>
      <div class="btn-group place-content-end">
        <%= link_to "Ver", product, class: "btn" %>
        <%= link_to 'Editar', edit_product_path(product), class: "btn" %>
        <%= button_to '× Eliminar producto ×', product, method: :delete, class: "btn hover:bg-red-500  rounded-l-none" %>
      </div> 
      <td>
    </tr>
      

  <% else %>

    <p class="my-5">
      <strong class="block font-medium mb-1">Categoria/s:</strong>
      
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">Descripción:</strong>
      <%= product.name %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">Precio:</strong>
      $<%= product.price %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">Stock:</strong>
      <%= product.stock %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">Fecha de registro:</strong>
      <%= product.registration_date.strftime("%d/%m/%Y %H:%M") %>
    </p>

  <%end%>
</div>
