<div id="<%= dom_id product %>">
  <% if action_name != "show" %>

    <tr class = "render-rows">
      <td><%= product.name %></td>
      <td>$<%= product.price %></td>
      <td><%= product.stock %></td>
      <td><%= product.registration_date.strftime("%d/%m/%Y %H:%M") %></td>
      <td>
      <div class="btn-group place-content-end">
        <%= link_to "Ver", product, class: "btn" %>
        <%= link_to 'Editar', edit_product_path(product), class: "btn" %>
        <%= link_to '× Eliminar producto ×', product, method: :delete, class: "btn hover:bg-red-500" %>
      </div> 
      <td>
    </tr>
      

  <% else %>

    <p class="my-5">
      <strong class="block font-medium mb-1">Categoria/s:</strong>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">Descripción:</strong>
      <%= product.name %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">Precio:</strong>
      $<%= product.price %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">Stock:</strong>
      <%= product.stock %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">Fecha de registro:</strong>
      <%= product.registration_date.strftime("%d/%m/%Y %H:%M") %>
    </p>

  <%end%>
</div>
