<%= form_with(model: sale, class: "contents") do |form| %>
  <% if sale.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(sale.errors.count, "error") %>prohibió a esta venta de ser guardada:</h2>

      <ul>
        <% sale.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :cliente %>
    <%= form.select(:client_id, @clients, {}, {id: 'clientselect', required: true}) %>
  </div>

  <div class="my-5">
    <%= form.label :price_list_id %>
    <%= form.select(:price_list_id, @lists, {}, {id: 'listselect', required: true}) %>
  </div>

  <div class="inline ">
    <button class="btn btn-primary"><%=form.submit style: "display:none"%>Crear Venta</button>
  </div>

<% end %>

<script>
  var settings = {
    plugins: {
      'clear_button':{
        'title':'Eliminar todas las opciones seleccionadas',
      },
    },
    create: true,
    onDelete: function(values) {
      return confirm(values.length > 1 ? 'Are you sure you want to remove these ' + values.length + ' items?' : 'Are you sure you want to remove "' + values[0] + '"?');
    }
  };
  new TomSelect('#clientselect',settings);
  new TomSelect('#listselect',settings);
</script>