<div id="<%= dom_id sale %>">
<% bill = Bill.find_by(:sale_id => sale.id) %>
  <% if action_name != "show" %>

    <tr class = "render-rows">
      <td><%= sale.client.name %> <%= sale.client.surname %></td>
      <td><%= sale.price_list.name %></td>
      <td>
        <% case bill %>
        <% when nil %>
          <h1 class="text-2xl" >-</h1>
        <% else %>
          <%= sale.bill.id %>
        <% end %>
      </td>
      <td><%= sale.date.strftime("%D - %H:%m hs.") %></td>
      <td>$<%= sale.totalPrice %></td>

      <td>
        <div class="btn-group place-content-end">
          <%= link_to "Ver", sale, class: "btn" %>
          <%= link_to 'Editar', edit_sale_path(sale), class: "btn" %>
          <%case bill%>
            <%when nil%>
              <%= link_to 'Generar Comprobante', new_bill_path(sale: sale.id), class: "btn hover:bg-red-500  rounded-l-none" %>
            <%else%>
              <%= link_to 'Ver Comprobante', bill_path(id: sale.bill.id), method: :delete, class: "btn hover:bg-red-500  rounded-l-none" %>
          <%end%>
        </div>
      <td>
    <tr>

  <% else %>

    <p class="my-5">
      <strong class="block font-medium mb-1">Cliente:</strong>
      <%= sale.client.name %> <%= sale.client.surname %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">Lista de precios:</strong>
      <%= sale.price_list.name %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">Número de comprobante:</strong>
      <% case bill %>
      <% when nil %>
        <h1 class="text-2xl" >-</h1>
      <% else %>
        <%= sale.bill.id %>
      <% end %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">Fecha:</strong>
      <%= sale.date.strftime("%D - %H:%m hs.") %>
    </p>

  <%end%>
</div>
