<div class="mx-auto md:w-2/3 bg-transparent w-full divide-y-2">
  <div class="flex flex-col editSale pb-8">
    <h1 class="font-bold text-4xl">Editando venta</h1>
    <div class=" flex flex-row">
      <p class="my-5 flex flex-row text-xl">
        <strong class="block font-medium mb-1 mr-1">Cliente:</strong>
        <%= @sale.client.name %> <%= @sale.client.surname %>
      </p>

      <p class="my-5 ml-5 flex flex-row text-xl">
        <strong class="block font-medium mb-1 mr-1">Lista de precios:</strong>
        <%= @sale.price_list.name %>
      </p>
    </div>
    <div>
      <strong class="block font-medium text-xl mb-1 mr-1">Agregar Productos:</strong>
      <form action="" method="edit">
        <select id="form-control-lg" name="product_id" placeholder="Elija el producto..." required autocomplete="off" class="mb-4 form-control-lg" onchange="redirect_to" >
          <option value=""></option>
          <%= options_from_collection_for_select(Product.all, 'id', 'name') %>
        </select>

        <input type="number" name="quantity" placeholder="Cantidad" class="w-full rounded-md" required></input>

        <div class="flex flex-row pt-3">    
          <button class="btn btn-primary w-full" type="submit" value="Save">Agregar</button>
        </div>
      </form>
    </div>
  </div>

  <%if @sale.products.count > 0 %>
  <div class="mt-5 pb-8">
    <h1 class="font-bold text-2xl">Productos añadidos en la venta</h1>
    <table>
      <thead>
        <tr>
          <th>Descripción</th>
          <th>Precio</th>
          <th>Stock</th>
          <th>Fecha de registro</th>
          <th colspan="1"/>
        </tr>
      </thead>

      <tbody>
        <% for detail in @sale.sale_details %>
          <% product = Product.where(:id => detail.product_id).first %>
          <tr class="render-rows">
            <td><%= product.name %></td>
            <td>$<%= product.price %></td>
            <td><%= product.stock %></td>
            <td><%= product.registration_date.strftime("%d/%m/%Y %H:%M") %></td>
            <td>
              <%= button_to raw('
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                </svg>
              '), 
              sales_deleteDetail_path(:detail_id => detail.id, :sale_id => @sale.id), class: "btn btn-ghost" %>
            </td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>
  <%end%>

</div>

<script>
  function puts(e){
    
  }

  var settings = {
    plugins: {
      'clear_button':{
        'title':'Eliminar todas las opciones seleccionadas',
      },
    },
    create: true,
    onDelete: function(values) {
      return confirm(values.length > 1 ? 'Are you sure you want to remove these ' + values.length + ' items?' : 'Are you sure you want to remove "' + values[0] + '"?');
    }
  };
  new TomSelect('#form-control-lg',settings);
</script>