<!DOCTYPE html>
<html class="h-full bg-white">
  <head>
    <title>AllPlast</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <div>
      <div class="navbar bg-gray-700 border-gray-200 px-2 sm:px-4 py-2.5 dark:bg-gray-900">
        <ul class="lg:flex justify-center md:space-x-8 w-full">

          <% if controller_name == 'products' %>
            <%= link_to 'Productos', products_path, class: "block py-2 pr-4 pl-3 font-bold text-white border-b border-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-50 md:dark:hover:text-white dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"%>
          <% else %>
            <%= link_to 'Productos', products_path, class: "block py-2 pr-4 pl-3 text-gray-200 hover:text-white hover:bg-transparent md:hover:bg-transparent md:p-0 dark:text-gray-400 md:dark:hover:text-white"%> 
          <% end %>

          <% if controller_name == 'categories' %>
            <%= link_to 'Categorias', categories_path, class: "block py-2 pr-4 pl-3 font-bold text-white border-b border-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-50 md:dark:hover:text-white dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"%>
          <% else %>
            <%= link_to 'Categorias', categories_path, class: "block py-2 pr-4 pl-3 text-gray-200 hover:text-white hover:bg-transparent md:hover:bg-transparent md:p-0 dark:text-gray-400 md:dark:hover:text-white"%> 
          <% end %>

          <% if controller_name == 'clients' %>
            <%= link_to 'Clientes', clients_path, class: "block py-2 pr-4 pl-3 font-bold text-white text-gwhiteborder-b border-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-50 md:dark:hover:text-white dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"%>
          <% else %>
            <%= link_to 'Clientes', clients_path, class: "block py-2 pr-4 pl-3 text-gray-200 hover:text-white hover:bg-transparent md:hover:bg-transparent md:p-0 dark:text-gray-400 md:dark:hover:text-white"%> 
          <% end %>

          <% if controller_name == 'sales' %>
            <%= link_to 'Ventas', sales_path, class: "block py-2 pr-4 pl-3 font-bold text-white text-gwhiteborder-b border-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-50 md:dark:hover:text-white dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"%>
          <% else %>
            <%= link_to 'Ventas', sales_path, class: "block py-2 pr-4 pl-3 text-gray-200 hover:text-white hover:bg-transparent md:hover:bg-transparent md:p-0 dark:text-gray-400 md:dark:hover:text-white"%> 
          <% end %>

          <% if controller_name == 'bills' %>
            <%= link_to 'Facturas', bills_path, class: "block py-2 pr-4 pl-3 font-bold text-white text-gwhiteborder-b border-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-50 md:dark:hover:text-white dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"%>
          <% else %>
            <%= link_to 'Facturas', bills_path, class: "block py-2 pr-4 pl-3 text-gray-200 hover:text-white hover:bg-transparent md:hover:bg-transparent md:p-0 dark:text-gray-400 md:dark:hover:text-white"%> 
          <% end %>

          <% if controller_name == 'price_lists' %>
            <%= link_to 'Listas de precios', price_lists_path, class: "block py-2 pr-4 pl-3 font-bold text-white text-gwhiteborder-b border-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-50 md:dark:hover:text-white dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"%>
          <% else %>
            <%= link_to 'Listas de precios', price_lists_path, class: "block py-2 pr-4 pl-3 text-gray-200 hover:text-white hover:bg-transparent md:hover:bg-transparent md:p-0 dark:text-gray-400 md:dark:hover:text-white"%> 
          <% end %>
          
          <% if controller_name == 'sale_details' %>
            <%= link_to 'Detalles de ventas', sale_details_path, class: "block py-2 pr-4 pl-3 font-bold text-white text-gwhiteborder-b border-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-50 md:dark:hover:text-white dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"%>
          <% else %>
            <%= link_to 'Detalles de ventas', sale_details_path, class: "block py-2 pr-4 pl-3 text-gray-200 hover:text-white hover:bg-transparent md:hover:bg-transparent md:p-0 dark:text-gray-400 md:dark:hover:text-white"%> 
          <% end %>

        </ul>
      </div>
    </div>
      
    <link href="https://cdn.jsdelivr.net/npm/daisyui@1.24.3/dist/full.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2/dist/tailwind.min.css" rel="stylesheet" type="text/css" />

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <body class="dark:text-black">
    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
