<!DOCTYPE html>
<html class="h-full bg-white">
  <head>
    <title>AllPlast</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= render 'layouts/navbar' %>
      
    <link href="https://cdn.jsdelivr.net/npm/daisyui@1.24.3/dist/full.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2/dist/tailwind.min.css" rel="stylesheet" type="text/css" />

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <body class="h-full dark:text-black">
    <div class="h-full my-20 mx-32 bg-gray-200 shadow-2xl rounded-2xl">
      <div class="px-20 pt-16 flex">
        <%= yield %>
      </div>
    </div>
    <%= render 'layouts/footer' %>
  </body>
  
</html>
