<!DOCTYPE html>
<html>
  <head>
    <title>AllPlast</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= link_to 'Product', products_path, class: "back-but"%> |
    <%= link_to 'Category', categories_path, class: "back-but"%> |
    <%= link_to 'Client', clients_path, class: "back-but"%> |
    <%= link_to 'Sale', sales_path, class: "back-but"%> |
    <%= link_to 'Bill', bills_path, class: "back-but"%> |
    <%= link_to 'PriceList', price_lists_path, class: "back-but"%> |
    <%= link_to 'SaleDetail', sale_details_path, class: "back-but"%> |

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
